@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'The Led Display St';
    src: url('fonts/TheLedDisplaySt.woff2') format('woff2'),
        url('fonts/TheLedDisplaySt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
